.authContainer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 1600px;
    height: 1600px;
    margin-left: 175px;
    gap:30px;
}
.authLeft{
    display: flex;
    flex-direction: column;
}
.authLeftTop{
    display: flex;
    flex-direction: column;
    width: 850px;
    gap:20px;
}
.authLeftTopL{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2B3038;
}
.authLeftTopP{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(43, 48, 56, 0.5);
}
.authLeftMain{
    display: flex;
    padding:20px;
    flex-direction: column;
    margin-top:20px;
    width: 790px;
    padding: 30px 30px;
    border: 1px solid #E5EDF1; 
}
.authLeftMainTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.authLeftMainL{
    height: 23px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #008475;
}
.authLeftMainP{
    width: 790px;
    height: 42px;
    margin-top:10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B3038;

}
.authLeftMainH{
    margin-top:30px;
    width: 125px;
    height: 14px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #5A616B;
}
.authLeftMainR{
    margin-top:10px;
    height: 14px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #5A616B;
}
.authLeftMainI,
.authLeftMainS{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 12px;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    margin-top:20px;
}
.authLeftMainRow{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
.authLeftMainC{
    width: 20px;
    height: 20px;
    background: #595959;
    border: 2px solid #595959;
    border-radius: 3px;
    margin-top:5px;
    margin-right:20px;
}
.authLeftMainButton{
    margin-top:40px;
    width: 205px;
    height: 40px;
    color: white;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    border-radius: 9px;
    background: linear-gradient(90deg, #2F0F5D 0%, #0EA293 100%);
}
.authRight{
    display: flex;
    flex-direction: column;
}
.authRightMenu{
    box-sizing: bauth-box;

/* Auto layout */
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    width: 330px;
    height: 196px;

    background: #FFFFFF;
    border: 1px solid #E5EDF1;
    border-radius: 9px;
}
.authRightMenuL{
    width: 259px;
    height: 34px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #5A616B;
}